/* NProgress Loading Bar - Bright Yellow Theme */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #fbbf24; /* Bright yellow */
  position: fixed;
  z-index: 9999;
  top: 56px; /* Position below navbar (h-14 = 56px) */
  left: 0;
  width: 100%;
  height: 3px;
  box-shadow: 0 0 15px #fbbf24, 0 0 8px #fbbf24;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 15px #fbbf24, 0 0 8px #fbbf24;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}
