/* NProgress Loading Bar - Yellow Theme */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: linear-gradient(90deg, #eab308 0%, #fbbf24 100%);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  box-shadow: 0 0 10px #eab308, 0 0 5px #eab308;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #eab308, 0 0 5px #eab308;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}
